/* #Reset & Basics 
================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
input, select, textarea, button {
	outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
/* #Typo
================================================== */
@font-face {
	font-family: 'Aftasans';
	src: url('../fonts/Aftasans.eot?') format('eot'), 
	     url('../fonts/Aftasans.otf')  format('opentype'),
	     url('../fonts/Aftasans.woff') format('woff'), 
	     url('../fonts/Aftasans.ttf')  format('truetype'),
	     url('../fonts/Aftasans.svg#Aftasans') format('svg');
}
@font-face {
	font-family: 'Kulturista';
	src: url('../fonts/Kulturista.eot?') format('eot'), 
	     url('../fonts/Kulturista.otf')  format('opentype'),
	     url('../fonts/Kulturista.woff') format('woff'), 
	     url('../fonts/Kulturista.ttf')  format('truetype'),
	     url('../fonts/Kulturista.svg#Kulturista') format('svg');
}
@font-face {
	font-family: 'Kulturista-Bold';
	src: url('../fonts/Kulturista-Bold.eot?') format('eot'), 
	     url('../fonts/Kulturista-Bold.otf')  format('opentype'),
	     url('../fonts/Kulturista-Bold.woff') format('woff'), 
	     url('../fonts/Kulturista-Bold.ttf')  format('truetype'),
	     url('../fonts/Kulturista-Bold.svg#Kulturista-Bold') format('svg');
}
/* #Selection
================================================== */
::selection {
	background: rgb(180, 248, 35);
	color: #FFF;
}
::-moz-selection {
	background: rgb(180, 248, 35);
	color: #FFF;
}
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after, .clearfix:after {
	clear: both;
}
.row, .clearfix {
	zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* #Common Styles
================================================== */
body {
	font-family:
	 'Kulturista';
	border-top: 3px solid #DDD;
	
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.social-icons {
	float: right;
	margin: 20px;
}
.social-icons a {
	float: left;
	width: 30px;
	height: 30px;
	margin: 2px;
	-webkit-transition: all .7s ease; 
	-moz-transition: all .7s ease; 
	-o-transition: all .7s ease;
}
.social-icons a:hover {opacity: .7;}
.twitter {
	background: url('../images/social.png') no-repeat -66px -1px;
}
.linked {
	background: url('../images/social.png') no-repeat -33px -1px;
}
.facebook {
	background: url('../images/social.png') no-repeat 0 -1px;
}
.youtube {
	background: url('../images/social.png') no-repeat -98px -1px;
}
.black-bar {
	width: 100%;
	height: 200px;
	background: #292929;
}
.logo {
	width: 256px;
	height: 256px;
	position: relative;
	float: left;
	font: bold 18px Arial, Helvetica, sans-serif;
	margin-top: -28px;
	line-height: 111px;
	text-align: center;
}
.logo span {
	background: url('../images/sprite.png') no-repeat 0 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}
.text {
	float: left;
	margin-top: 40px;
	margin-left: 60px;
}
.line-1, .line-3 {
	font-family: 'Aftasans';
	color: #FFF;
	font-size: 30px;
	margin-bottom: 10px;
}
.line-2 {
	font-family: 'Kulturista-Bold';
	font-size: 48px;
	color: #e08d2d;
	margin-bottom: 10px;
	border-bottom: 3px solid #e08d2d;
	float: left;
	
}
.line-3 {
	margin-bottom: 0px;
	font-size: 18px;
	
}
.ie8 .line-3 {
float: left;
	width: 100%;}
.help-text {
	margin-top: 45px;
	text-align: center;
	color: #e08d2d;
	font-size: 24px;
}
.download {
	width: 406px;
	margin: 10px auto;
	overflow: hidden;
}
.track {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: #e08d2d;
}
.track span {
	color: #292929;
}
a.btn {
	width: 150px;
	height: 50px;
	line-height: 50px;
	color: #e08d2d;
	background: #292929;
	display: block;
	margin-left: 410px;
	text-align: center;
	margin-top: 20px;
	-webkit-transition: all .7s ease; 
	-moz-transition: all .7s ease; 
	-o-transition: all .7s ease;
}
a.btn:hover {
	color: #292929;
	background: #e08d2d;
}
label {
	font-size: 24px;
	color: #e08d2d;
	margin-top: 10px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.download input[type=text] {
	width: 325px;
	height: 50px;
	background: #e4e4e4;
	border: 3px solid #e08d2d;
	margin: 0;
	padding: 0;
	float: left;
	font: 14px 'Kulturista';
	padding-left: 20px;
	-webkit-transition: all .7s ease; 
	-moz-transition: all .7s ease; 
	-o-transition: all .7s ease;
}
.download input[type=text]:focus {
	background: #FFF;
	border-color: #292929; 
}
.download input[type=submit] {
	width: 55px;
	height: 56px;
	float: left;
	background: #e08d2d url('../images/sprite.png') no-repeat -427px 10px;
	border: 0;
}
.ie8 .download input[type=text] {line-height: 50px;}
.responsive-header {
	background: #e08d2d;
	height: 40px;
	display: none;
}
.footer-web {
	position: relative;
	float: left;
	bottom: 20px;
	left: 20px;
	bottom: 10px;
}
.footer-web a{
	color: #292929;
}
.footer-web a:hover {
	color: #e08d2d;
}
.footer-reponsive {display: none;}
/* #Pages Styles
================================================== */
table {
	margin: 20px auto;
	margin-bottom: 50px;
}
th, td {
	padding: 5px;
}
table th {
	background: #292929;
	color: #e08d2d;
}
table th:first-child {
	text-align: left;
	width: 70%;
	border-right: #e08d2d 1px solid;
}
td {
	text-align: center;
}
td:first-child {
	text-align: left;
	border-right: #292929 1px solid;
}
td a.arrow {
	background: url('../images/sprite.png') no-repeat -444px -126px;
	width: 17px;
	height: 13px;
	display: inline-block;
}
.oldie td {
	border-bottom: 1px solid #292929;
}
tr:nth-child(odd)
{
background:#e4e4e4;
}
tr:nth-child(even)
{
background:#FFF;
}
table {
	border-bottom: 2px solid #e08d2d;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container {
			width: 700px;
		}
		a.btn {
			margin-left: 280px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.black-bar, .social-icons, .footer-web, label, table {display: none; }
		.social-icons {margin: 0; display: none;}
		.responsive-header, .responsive-header .social-icons {display: block; padding-top: 2px;}
		.responsive-logo {
			background: url("../images/social_circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			color: #FFF;
			float: left;
			height: 30px;
			line-height: 34px;
			margin-left: 10px;
			padding-left: 40px;
		}
		.responsive-logo img {float: left;}
		.footer-reponsive {background: #292929; height: 40px; position: absolute; bottom: 0; width: 100%; display: block; color: #FFF; text-align: center; line-height: 40px;}
		.footer-reponsive a {color: #FFF;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container {
			width: 400px;
		}
		.help-text {margin-top: 20px;}
		a.btn {margin-left: 120px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.container {
			width: 300px;
		}
		.download {
			width: 300px;
			margin-top: 100px;
		}
		.download input[type=text] {
			width: 218px;
			
		}
		.responsive-logo span {display: none;}
		a.btn {margin-left: 80px;}
	}